---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
  <title>Caffeine And Lasers</title>
  <description>Musings Powered By Caffeine and Lasers</description>
  <link>https://Caffeineandlasers.neocities.org</link>
  <lastBuildDate>{{ collections.blogPosts[0].date | date: "%a, %d %b %Y %H:%M:%S %z" }}</lastBuildDate>
  <ttl>1440</ttl>

  {% for post in collections.blogPosts %}
  <item>
    <title>{{ post.data.title }}</title>
    <description>{{ post.data.description }}</description>
    <link>https://Caffeineandlasers.neocities.org{{ post.url }}</link>
    <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
  </item>
  {% endfor %}
</channel>
</rss>