---
title: Caffeine and Lasers - Blog
description: Extended thoughts from Caffeine and Lasers
rootURL: https://caffeineandlasers.com
eleventyExcludeFromCollections: true # Keep this if you don't want the feed itself in collections
permalink: /feeds/blogs.xml # Ensure it outputs to the root
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ title }}</title>
    <description>{{ description }}</description>
    <link>{{ rootURL }}</link>
    <atom:link href="{{ rootURL }}/feeds/blogs.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{{ collections.blogPosts[0].date | date: "%a, %d %b %Y %H:%M:%S %z" }}</lastBuildDate>
    <ttl>1440</ttl>

    {% for post in collections.blogPosts %}
    <item>
      <title>{{ post.data.title }}</title>
      <description>{{ post.data.description }}</description>
      <content:encoded><![CDATA[{{ post.templateContent | absoluteUrl: rootURL }}]]></content:encoded>
      <link>{{ rootURL }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ rootURL }}{{ post.url }}</guid>
      <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
