---
title: Caffeine and Lasers - Notes!
description: Thoughts and Links from Caffeine and Lasers
rootURL: https://caffeineandlasers.com
eleventyExcludeFromCollections: true # Keep this if you don't want the feed itself in collections
permalink: /feeds/notes.xml # Ensure it outputs to the root
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ title }}</title>
    <description>{{ description }}</description>
    <link>{{ rootURL }}</link>
    <atom:link href="{{ rootURL }}/feeds/notes.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{% if collections.notes.length > 0 %}{{ collections.notes[0].date | date: "%a, %d %b %Y %H:%M:%S %z" }}{% endif %}</lastBuildDate>
    <ttl>1440</ttl>

    {% for note in collections.notes %}
    <item>
      <title>{{ note.data.title }}</title>
      <description>{{ note.data.description }}</description>
      <content:encoded><![CDATA[{{ note.templateContent }}]]></content:encoded>
      <link>{{ rootURL }}{{ note.url }}</link>
      <guid isPermaLink="true">{{ rootURL }}{{ note.url }}</guid>
      <pubDate>{{ note.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
